body {
  font-size: 14px;
  color: #fff;
  background: #f5f8fa;
}

nav.pt-navbar {
  background: #eaeff3;
}

ul.pt-menu {
  background: inherit;
  overflow: auto;
}

.pt-menu {
  max-width: 300px;
}

.pt-menu-header {
  text-align: center;
}

ul.pt-menu.route-list {
  transition: all 1s;
  overflow: hidden;
}

ul.pt-menu.route-list.hide {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

ul.pt-menu.activity-list {
  height: 0;
  opacity: 0;
  transition: all 1s;
  overflow: hidden;
  max-height: inherit;
}

ul.pt-menu.activity-list.show {
  opacity: 1;
  overflow: hidden;
}

.pt-menu-item.pt-popover-dismiss {
  outline-style: hidden;
  outline-color: #a66321;
}

.pt-menu-item.pt-popover-dismiss:hover {
  background-color: rgba(217, 130, 43, 0.75);
}

.pt-menu-item.pt-popover-dismiss.selected {
  outline-color: #a66321;
  background-color: rgba(217, 130, 43, 0.75);
}

.pt-large {
  height: 100px;
  width: 100px;
}

button.pt-button.pt-intent-warning.pt-large.pt-icon-log-in::before {
  font-size: 40px;
}

button.pt-button.pt-minimal.pt-intent-warning.pt-icon-repeat {
  width: 100%;
  display: none;
}

button.pt-button.pt-minimal.pt-intent-warning.pt-icon-repeat.show {
  height: 30px;
  display: block;
}

div.map {
  width: 100%;
  padding-bottom: 61.8%;
  position: relative;
}

div.map > div {
  position: absolute !important;
}

@keyframes reset {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.pt-card {
  animation-name: reset, fade-in;
  animation-duration: 0.75s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

div.pt-card.pt-elevation-1 {
  animation-duration: 1.5s;
}

div.pt-card.pt-elevation-2 {
  animation-duration: 2.25s;
}
