body {
  font-size: 14px;
  color: #fff;
  background: #f5f8fa;
}

nav.pt-navbar {
  background: #eaeff3;
}

ul.pt-menu {
  background: inherit;
  overflow: auto;
}

.pt-menu {
  height: 100%;
  max-width: 300px;
}

.pt-menu-header {
  text-align: center;
}

ul.pt-menu.route-list {
  transition: all 1s;
  overflow: hidden;
}

ul.pt-menu.route-list.hide {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

ul.pt-menu.activity-list {
  height: 0;
  opacity: 0;
  transition: all 1s;
  overflow: hidden;
}

ul.pt-menu.activity-list.show {
  height: 100%;
  opacity: 1;
  overflow: hidden;
}

.pt-menu-item.pt-popover-dismiss {
  outline-style: hidden;
  outline-color: #A66321;
}

.pt-menu-item.pt-popover-dismiss:hover {
  background-color: rgba(217, 130, 43, 0.75);
}

.pt-menu-item.pt-popover-dismiss.selected {
  outline-color: #A66321;
  background-color: rgba(217, 130, 43, 0.75);
}

.pt-large {
  height: 100px;
  width: 100px;
}

button.pt-button.pt-intent-warning.pt-large.pt-icon-log-in::before {
  font-size: 40px;
}

button.pt-button.pt-minimal.pt-intent-warning.pt-icon-repeat {
  width: 100%;
  display: none;
}

button.pt-button.pt-minimal.pt-intent-warning.pt-icon-repeat.show {
  height: 30px;
  display: block;
}

div.map {
  width: 100%;
  padding-bottom: 61.8%;
  position: relative;
}

div.map > div {
  position: absolute !important;
}