body {
  font-size: 14px;
  color: #fff;
  background: #f5f8fa;
}

nav.pt-navbar {
  background: #f1f4f7;
}

ul.pt-menu {
  background: inherit;
  overflow: auto;
}

.pt-menu {
  height: 100%;
  max-width: 300px;
}

.pt-menu-header {
  text-align: center;
}

ul.pt-menu.route-list {
  transition: all 1s;
}

ul.pt-menu.route-list.hide {
  height: 0;
  overflow: hidden;
}

ul.pt-menu.activity-list {
  height: 0;
  transition: all 1s;
}

ul.pt-menu.activity-list.show {
  height: 100%;
}

.pt-large {
  height: 100px;
  width: 100px;
}

button.pt-button.pt-intent-warning.pt-large.pt-icon-log-in::before {
  font-size: 40px;
}

div.map {
  min-width: 300px;
  min-height: 200px;
  width: 100%;
  height: 0;
  margin: 0 auto;
  padding-top: 50%;
  position: relative;
}

div.map.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
